//! **************************************************************************
// Written by: Map P.68d on Tue Mar 15 12:19:47 2016
//! **************************************************************************

SCHEMATIC START;
COMP "WAIT_t" LOCATE = SITE "G12" LEVEL 1;
COMP "BPV" LOCATE = SITE "M14" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "E14" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "R16" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "N16" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "P16" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "GCLK" LOCATE = SITE "T9" LEVEL 1;
COMP "BPOL" LOCATE = SITE "M13" LEVEL 1;
COMP "START" LOCATE = SITE "F12" LEVEL 1;
COMP "BPreset" LOCATE = SITE "L14" LEVEL 1;
COMP "RESET" LOCATE = SITE "K13" LEVEL 1;
SCHEMATIC END;

